
body {
    background-color: rgb(243, 237, 237);
    color: black;
}

body {
    font-family: 'Work Sans', sans-serif; /* added font (SEP 3) */
    font-optical-sizing: auto;
    font-style: normal;
    background-color: var(--background-color);
    margin: 1em;
    font-size: 1em;
}

