body {
    background-color: black;
    color: white;
}

    h1 {
        color: rgb(128, 218, 98);
        text-decoration: overline; /* added line decorations (AUG 27) */
    }

    h2{
        text-decoration: line-through;
    }

    h3 {
        text-decoration: underline;
    }

    a {
        color: orange
    }
    
    .Squirtle {
        color: skyblue;
    }

    .Lotus {
        color: red;
    }

    .Uncle {
        color: rgb(116, 116, 18);
        font-style: italic;
    }

    .Drew {
        color: rgb(116, 116, 18);
        font-style: italic;
    }


    